@font-face {
  font-family: THICCCBOI;
  src: url(../fonts/thicccboi/THICCCBOI-Regular.woff2) format('woff2'), url(../fonts/thicccboi/THICCCBOI-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block
}
@font-face {
  font-family: THICCCBOI;
  src: url(../fonts/thicccboi/THICCCBOI-Medium.woff2) format('woff2'), url(../fonts/thicccboi/THICCCBOI-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block
}
@font-face {
  font-family: THICCCBOI;
  src: url(../fonts/thicccboi/THICCCBOI-Bold.woff2) format('woff2'), url(../fonts/thicccboi/THICCCBOI-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block
}
* {
  word-spacing: normal !important
}

