.intro1 {
	.intro-content {
		h1 {
			font-size: 4rem;
			font-weight: 700;
			line-height: 1.3;
			margin-bottom: 30px;
		}
		p {
			font-size: 1.125rem;
			// color: $text-muted;
		}
		.intro-btn {
			margin-bottom: 50px;
			.btn {
				margin-right: 20px;
				min-width: 150px;
				font-weight: 600;
				font-size: 16px;
				padding: 10px;
			}
		}
		.intro-search {
			max-width: 450px;
			background: $light;
			padding: 5px 20px;
			border-radius: 16px;
			@include respond("sm") {
				min-width: auto;
				margin-right: 15px;
			}
			span {
				font-size: 24px;
				margin-left: 10px;
			}
			input {
				border: 0px;
				width: 90%;
				background: transparent;
			}
			form {
				display: flex;
				align-items: center;
			}
			// .input-group-text {
			//     // border-top-right-radius   : $radius;
			//     // border-bottom-right-radius: $radius;
			//     // background                : $primary;
			//     // i {
			//     //     color: $white;
			//     // }
			// }
		}
		.intro-social {
			margin-top: 50px;
			a {
				color: $body-color;
				margin-right: 20px;
				font-size: 24px;
				display: inline-block;
			}
		}
	}
}

.intro-slider {
	position: relative;
	@include respond('lg'){
		margin-top: 50px;
	}
	.slider-item {
		// padding: 25px 20px;
		// transform: scale(1) perspective(1040px) rotateY(-18deg) rotateX(0) rotate(0);
		position: relative;
		// &::after{
		//     content: '';
		//     position: absolute;
		//     left: 0;
		//     right: 0;
		//     bottom: 0;
		//     background: #000;
		//     z-index: 999;
		//     height: 150px;
		//     box-shadow: inset 0px 20px 15px #f00;
		// }
		img {
			border-radius: $radius;
			width: 100%;
		}
		.slider-item-avatar {
			position: relative;
			padding: 20px;
			display: flex;
			img {
				width: 35px;
				height: 35px;
				border-radius: 100px;
				margin-right: 15px;
			}
			h5 {
				// color        : $headings-color;
				margin-bottom: 0px;
			}
			p {
				margin-bottom: 0px;
			}
		}
	}
	.arrows {
		position: absolute;
		bottom: 50px;
		right: 20px;
		z-index: 999;
		display: flex;
		span {
			background: $primary;
			box-shadow: $shadow;
			display: flex;
			align-items: center;
			justify-content: center;
			// padding: 5px 10px;
			margin-left: 10px;
			border-radius: 100px;
			cursor: pointer;
			height: 40px;
			width: 40px;
			i {
				line-height: 0px;
				color: $white;
				// position: relative;
				// top: -2px;
			}
		}
	}
}

.what-we-do-content {
	@include respond('md'){
		margin-top: 50px;
	}
	h3 {
		font-size: 36px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}

.mission-vission-content {
	text-align: center;
	padding: 30px;
	span {
		font-size: 36px;
		border: 1px solid $border-color;
		height: 100px;
		width: 100px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
		border-radius: 100px;
		background: $primary;
		color: $white;
	}
	h6 {
		color: $body-color;
		margin-bottom: 10px;
	}
	h3 {
		margin-bottom: 20px;
	}
}

.creating {
	img {
		margin-bottom: 30px;
	}
	h3 {
		margin-bottom: 30px;
	}
}

.built-in-list{
	@include respond('md'){
		margin-bottom: 50px;
	}
    li{
		display: flex;
		align-items: center;
		font-weight: 500;
        i{
			font-size: 22px;
			margin-right: 10px;
		}
    }
}

.built-in-content {
	border: 1px solid $border-color;
	border-radius: $radius;
	padding: 30px;
    background:$light;
	@include respond('md'){
		margin-bottom: 50px;
	}
	span {
		font-size: 72px;
        color: $secondary;
	}
    h4{
        font-size: 22px;
        margin-bottom:20px;
    }
}




.investor-brand{
	text-align: center;
	img{
		margin: 0 auto 50px;
		max-width: 125px;
		// filter: brightness(100);
	}
}